.containerContentPageTwo{
    min-width: 99.7vw;
    min-height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlePageTwo{
    width: 90vw;
    min-height: 20vh;
    max-height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFF;
    font-family:  Montserrat;
    font-size: 1rem;
    img{
        margin-right: 1%;
    }
}
.containerSubContentPageTwo{
    min-width:  85vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    .subtitleContainerPageTwo{
        text-align: left;
        color: #FFF;
        font-family:  Montserrat;       
        h1{
            font-size: 2.8rem;
            font-stretch: condensed;
            margin-bottom: -1.5%;
        }
    }
}
.optionSelectSubtitle{
    margin-top: 1%;
    min-width:  85vw;
    display: flex;
    flex-direction: row;
    .submenuPageTwo{
        text-align: left;
        min-width: 55%;
        height: 40vh;
        display: flex;        
        align-items: center;
        font-family:  Montserrat;
        .submenu{
            width: 80%;
            list-style: none;
            color: #707070;
            font-size: 2.3rem;
            font-weight: 800;
            font-family:  Montserrat;
            li{
                cursor: pointer;
                margin-left:10%;
                width: 80%;
                min-height: 5.5vh;
                border-bottom: 1px solid #848484;
            }
            .suboptionSelected{
                color: #FF4700;
                //border-bottom: 1px solid #FFFFFF;
                border-bottom: 1px solid rgba(255,255,255, .8);
            }
        }
    }
    .contentMenuPageTwo{
        min-width: 25%;
        max-width: 25%;
        display: flex;
        padding-top: 5vh;
        .textContainer{
                .title{
                    color: #FFF;
                    font-size: 1.4rem;
                    font-family: Montserrat;
                    margin-bottom: 3%;
                }
                .subtitle{
                    color: #FA500F;
                    font-size: 1.2rem;
                    font-family: Montserrat;
                    margin-bottom: 3%;
                }
                .text{                    
                    max-width: 25vw;
                    color: #CBCBCB;
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: justify;
                    font-family: Montserrat;
                    line-height: 150%;
                }
                .Links{
                    color: #FFFFFF;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    min-height: 10vh;
                    font-size: 1.3rem;
                    font-family: Montserrat;
                    width: 100%;
                    border-bottom: 1px solid rgba(255,255,255, .3);
                    .boton{
                        display: flex;
                        width: 100%;
                        text{
                            width: 95%;
                        }
                    }
                    
                }
                .Links:hover{
                    color: #FFFFFF;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    min-height: 10vh;
                    font-size: 1.3rem;
                    font-family: Montserrat;
                    width: 100%;
                    border-bottom: 1px solid rgba(255,255,255, .3);
                    text{
                        width: 95%;
                    }
                }
           
        }
       
    }
}

.Links{
    text-decoration: none;
    
    padding-bottom: 10px;
}
