.containerContentPageThree{
    min-width: 99.7vw;
    min-height: 80vh;
    margin-top: 0;
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.pageThreeContent{
    border-top: 1px solid rgba(255,255,255, .3);
    min-width: 90vw;
    max-width: 90vw;
    min-height: 80vh;
    .containerTitleContentPageThree{
        min-width:100%;
        min-height: 10vh;
        display: flex;
        flex-direction: row;
        .containerTitleContentPageThreeLeft{
            display: flex;
            width: 50%;
            min-height: 5vh;
            display: flex;
            align-items: center;
            color: #FFF;
            font-size: 1rem;
            font-family: Montserrat;
            img{
                width: 2%;
                margin-right: 2%;
            }
        }
        .containerTitleContentPageThreeRight{
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: flex-end;
            color: #FFF;
            font-family:  Montserrat;
            font-size: 1.6rem;
            .selectText{
                color: #FF4700;
            }
        }
    }

    .submenuContainerPageThree{
        min-height: 55vh;
        display: flex;
        min-width: 90vw;
        .submenuLeftContainer{
            width : 45%;
            min-height: 55vh;
            .submenuLeftContainerIcons{
                display: flex;                
                align-items: flex-start;
                min-width: 100%;
                min-height: 30vh;
                img{
                    cursor: pointer;
                    margin-right:8%;
                    z-index: 100;
                }                
            }
            .submenuLeftContainerBottom{
                display: flex;     
                flex-direction: column;      
                min-width: 100%;
                min-height: 25vh;
                .submenuRightContainerHeader{
                    position: absolute;
                    width: 40%;
                    min-height: 5vh;
                    max-height: 5vh;
                    margin-top: 3%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    font-family: SummerFaith;
                    font-size: 10rem;
                    color: white;
                    transform: rotate(-8deg);
                }
                .submenuRightContainerBottom{
                    width: 100%;
                    min-height: 15vh;
                    display: flex;
                    flex-direction: row;
                    .submenuRightContainerBottomLeft{
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        width: 60%;
                        color: #FF4700;
                        
                        .branding{
                            max-height: 20vh;
                            display: flex;
                            transform: rotate(-15deg);
                            font-family: SummerFaith;
                            font-size: 12rem;
                            margin-top: 3vh;
                            min-width: 60%;
                        }
                        .Design{
                            min-width: 60%;
                            transform: rotate(-15deg);
                            font-family: SummerFaith;
                            font-size: 14rem;
                            
                        }
                        .Web{
                            min-width: 60%;
                            max-height: 20vh;
                            transform: rotate(-12deg);
                            font-family: SummerFaith;
                            font-size: 15rem; 
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                        }
                    }   
                    .submenuRightContainerBottomRight{
                        transform: rotate(-10deg);
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        width: 40%;
                        max-height: 20vh;
                       
                        color: #FFF;
                        font-family: SummerFaith;
                        font-size: 10rem;
                    }
                }
            }
        }
        .submenuRightContainer{
            z-index: 100;
            min-width : 55%;
            min-height: 55vh;           
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            color: #FFF;
           ul{            
            min-width: 80%;
            max-width: 80%;
            font-family:  Montserrat;
            list-style: none;
            font-size: 1.8rem;
            
            li{
                border-top: 1px solid rgba(255,255,255, .3);
                border-bottom: 1px solid rgba(255,255,255, .3);
                //border-top: 1px solid #FFF;
                //border-bottom: 1px solid #FFF;
                min-height: 8vh;
                display: flex;
                align-items: center;
                .title{
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    text {
                        color: #FFF;
                        min-height: 8vh;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 90%;
                        font-family:  Montserrat;
                        font-size: 1.5rem;
                    } 
                    .opcion{
                        color: #FFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 10%;
                        font-size: 5rem;

                        .menos{
                            position: absolute;
                        }

                    }
                    
                }   
                
            }   
 
            .selected{
                border-top: 1px solid rgba(255,255,255, .3);
                border-bottom: 1px solid rgba(255,255,255, .3);
                margin: 0;
                padding: 0;
                //border-bottom: 1px solid #FFF;
                min-height: 8vh;
                display: flex;
                align-items: center;   
                flex-direction: column;
                .titleselect{
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    min-width: 100%;
                    cursor: pointer;
                    text {
                        font-size: 1.5rem;
                        min-width: 90%;
                        color: #FF4700;
                        min-height: 8vh;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    } 
                    .opcion{
                        color: #FF4700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 10%;                       
                        font-size: 5rem;
                        font-weight: normal;
                        font-weight: lighter;
                        text-decoration: none;
                    }
                   
                }   
                        
                ul{
                    border: none;
                    margin: 0;
                    padding: 0;
                    min-width: 100%;
                    font-size: 1.2rem;
                    li{
                        color: #939393;
                        border: none;
                        min-height: 5vh;
                        width: 100%;
                    }
                    margin-bottom: 5vh;
                }
                
               
            }          
           }
        }
    }
}

