


@media (max-width: 600px) {
  
    
}

@media (min-width: 600px) {
  
    .containerContentPageOne{
        min-width: 100vw;
        min-height: 80vh;
        padding-top: 40vh;    
        font-family: "SummerFaith-Regular";
        display: flex;
        justify-content: center;
    }
    .contentPageOne{
        width: 100vw;
        min-height: 50vh;
        max-height: 50vh;
        margin-top: 10vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .oneContentPageOne{
        align-self: stretch;
        min-width: 85vw;
        max-width: 85vw;
        min-height: 30vh;
        max-height: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 7.5vw;
        img{
            width: 25%;
        }
      
    }
    .contentPageOne .twoContentPageOne{
        margin-top: 8%;
        transform: rotate(-7deg);
        min-width: 40%;
        min-height: 20vh;
        max-height: 20vh;
        display: flex;
        align-items: flex-end;
        font-size: 10rem;
    }
    .twoContentPageOne{
        color: #FFFFFF;
        font-weight: 500;
    }
    .threeContentPageOne{
        border-top: 1px solid rgba(255,255,255, .3);
        min-width: 90vw;
        min-height: 20vh;
        max-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .slideHorizontal{
            width: 100%;
            display: flex;        
            flex-direction: column;
            min-height: 12vh;
            max-height: 12vh;
            overflow-x:hidden;
            overflow-y: auto;   
        
            .subContentOnePageOne{
                width: 30vw;
                margin-left: 60vw;
                min-height: 12vh;
                max-height: 12vh;
                margin-bottom: 5vh;
                font-family:  Montserrat;
                color: #FFFFFF;
                font-size: 2rem;
                font-weight: 700;
                display: flex;            
                align-items: center;
            }
            .subContentTwoPageOne{
                width: 20vw;
                min-height: 12vh;
                max-height: 12vh;
                margin-left: 70vw;
                font-family:  Montserrat;
                color: #FFFFFF;
                font-weight: 700;
                font-size: 2rem;
                display: flex;            
                align-items: center;
            }
        }
        
    }
    .Flecha{
        min-height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;  
        
        
        
        .Imagen{
            min-width: 5vh;
            min-height: 5vh;
            background-color: #000;
            background-size: 100%;
            display: flex;
            border-radius: 5vh;
            justify-content: center;
            align-items: center;
            img{
                width: 30%;
                transform: rotate(90deg);
            }
        }  
        
    }
    .slideHorizontal::-webkit-scrollbar {
        display: none;
    } 
}