.containerContentPageFour{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageContentFour{
    width: 90vw;
    height: 90vh;
    border-top: 1px solid rgba(255,255,255, .3);
    //border-top: 1px solid #FFFFFF;
    .pageContentFourHeader{
        width: 90vw;
        min-height: 10vh;
        display: flex;
        flex-direction: row;
        .pageContentFourHeaderLeft{
            width: 50%;
            min-height: 10vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #FFF;
            font-size: 1rem;
            font-family: Montserrat;
            img{
                margin-right: 2%;
                
            }
        }
        .pageContentFourHeaderRight{
            width: 50%;
            min-height: 10vh;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #FF4700;
            font-size: 1.5rem;
            font-family:  Montserrat;
        }
    }
    .pageContentFourCentral{
        width: 90vw;
        min-height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .pageContentFourCentralContentOne{
            
            width: 25vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .pageContentFourCentralContentOneImage{
                width: 25vw;
                min-width: 25vw;
                min-height: 25vw;
                overflow-x:scroll;
                overflow-y: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .2s ease-in-out;
                background-image: url('../../img/pagefour/ImageOne.svg');
                background-size: 110%;
                background-repeat: no-repeat;
                background-position: center;

            }
            .pageContentFourCentralContentOneImage:hover{
                transform: scale(1);		
                background-size: 120%;
            }
            .pageContentFourCentralContentOneImage::-webkit-scrollbar {
                display: none;
            }
            .pageContentFourCentralContentOneFooter{
                width: 100%;
                min-height: 25%;
                color: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .Links{
                    cursor: pointer;
                    border-bottom: 1px solid rgba(255,255,255, .3);
                    text-decoration: none;
                    min-width: 100%;
                    min-height: 50%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    text{
                        font-size: 1.5rem;
                        width: 90%;
                        min-height: 100%;
                        font-weight: 500;
                    }
                    
                }

                .textTwo{
                    width: 100%;
                    min-height: 40%;
                    display: flex;
                    align-items: center;
                    color: #939393;
                    font-family:  Montserrat;
                    font-size: 1rem;
                }
            }
        }
        .pageContentFourCentralContentTwo{
            width: 25vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .pageContentFourCentralContentTwoImage{
                min-width: 25vw;
                min-height: 25vw;
                overflow-x:scroll;
                overflow-y: auto;
                transition: all .2s ease-in-out;
                background-image: url('../../img/pagefour/ImageTwo.svg');
                background-size: 110%;
                background-repeat: no-repeat;
                background-position: center;
            }
            .pageContentFourCentralContentTwoImage:hover{
                transform: scale(1);	
                background-size: 120%;	
            }
            .pageContentFourCentralContentTwoImage::-webkit-scrollbar {
                display: none;
            }
            .pageContentFourCentralContentTwoFooter{
                width: 100%;
                min-height: 25%;
                color: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .Links{
                    cursor: pointer;
                    border-bottom: 1px solid rgba(255,255,255, .3);
                    text-decoration: none;
                    min-width: 100%;
                    min-height: 50%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    text{
                        font-size: 1.5rem;
                        width: 90%;
                        min-height: 100%;
                        font-weight: 500;
                    }
                    
                }

                .textTwo{
                    width: 100%;
                    min-height: 40%;
                    display: flex;
                    align-items: center;
                    color: #939393;
                    font-family:  Montserrat;
                    font-size: 1rem;
                }
            }
        }
        .pageContentFourCentralContentThree{
            width: 25vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .pageContentFourCentralContentThreeImage{
                min-width: 25vw;
                min-height: 25vw;
                overflow-x:scroll;
                overflow-y: auto;
                display: flex;justify-content: center;
                align-items: center;
                transition: all .2s ease-in-out;
                background-image: url('../../img/pagefour/ImageThree.svg');
                background-size: 110%;
                background-repeat: no-repeat;
                background-position: center;
            }
            .pageContentFourCentralContentThreeImage:hover{
                transform: scale(1);	
                background-size: 120%;	
            }
            .pageContentFourCentralContentThreeImage::-webkit-scrollbar {
                display: none;
            }
            
            .pageContentFourCentralContentThreeFooter{
                width: 100%;
                min-height: 25%;
                color: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .Links{
                    cursor: pointer;
                    border-bottom: 1px solid rgba(255,255,255, .3);
                    text-decoration: none;
                    min-width: 100%;
                    min-height: 50%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    text{
                        font-size: 1.5rem;
                        font-weight: 500;
                        width: 90%;
                        min-height: 100%;
                    }
                    
                }

                .textTwo{
                    width: 100%;
                    min-height: 40%;
                    display: flex;
                    align-items: center;
                    color: #939393;
                    font-family:  Montserrat;
                    font-size: 1rem;
                }
            }
        }

    }
    .pageContentFourFooter{
        width: 90vw;
        min-height: 10vh;
        display: flex;
        flex-direction: row;
        .pageContentFourFooterLeft{
            width: 50%;
            min-height: 10vh;
        }
        .pageContentFourFooterRight{
            width: 50%;
            min-height: 10vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid #848484;
            color: #FFF;
            .Links{
                text{
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }
            text{
                font-size: 1.5rem;
                font-family: Montserrat;
                margin-right: 5%;
                
            }
        }

    }
}











