.ContentProjects{
    border-top: 1px solid rgba(0,0,0, .3);
    width: 90vw;
    margin-top: 20vh;
    min-height: 100vh;
    margin-bottom:10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ContentProjectsTitle{
    width: 90vw;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    div{
        width: 50%;
    }
    .ContentProjectsLeft{
        font-family: Montserrat;
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
            margin-right: 10px;
        }
    }
    .ContentProjectsRight{
        color: #707070;
        font-family: Montserrat;
        font-size: 1.2rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.ContentProjectsViewImgageOne , .ContentProjectsViewImgageTwo{
    width: 70%;
    background-color: #CBCBCB;
    min-height: 45vh;
    margin : 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding : 0;
}

.ContentProjectsViewImgageOne{
    .ContentProjectsViewImgageLeft{
        width: 60%;
        min-height:45vh;
        max-height:45vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-size: 120%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .ContentProjectsViewImgageRight{
        min-width: 40%;
        max-width: 40%;
        min-height:100%;
        max-height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text{
            min-height: 5%;
            font-family: Montserrat;
            margin-bottom: 8px;
        }
        .textOne{
            font-size: 1.2rem;
            color: #000;
            font-family: Montserrat;
        }
        .textTwo{
            font-size: 0.9rem;
            color: #939393;
            font-family: Montserrat
        }
        .textThree{
            min-width: 1.5vw;
            min-height: 1.5vw;
            max-height: 1.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 5%;
            background-color: #000;
            border-radius: 1.5vw;
            .Flecha{
                min-width: 1.5vw;
                background-image: url('../../img/flechanegra/Trazado.svg');
                background-size: 40%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.ContentProjectsViewImgageTwo{
    .ContentProjectsViewImgageLeft{
        min-width: 40%;
        max-width: 40%;
        min-height:100%;
        max-height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

       // background-image: url('../../img/projects/Label.svg');
        // background: rgba(0,0,0,0.7) url('../../img/projects/Label.svg')
        text{
            min-height: 5%;
            font-family: Montserrat;
            margin-bottom: 8px;
        }
        .textOne{
            font-size: 1.2rem;
            color: #000;
            font-family: Montserrat;
        }
        .textTwo{
            font-size: 0.9rem;
            color: #939393;
            font-family: Montserrat
        }
        .textThree{
            min-width: 1.5vw;
            min-height: 1.5vw;
            max-height: 1.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 5%;
            background-color: #000;
            border-radius: 1.5vw;
            .Flecha{
                min-width: 1.5vw;
                background-image: url('../../img/flechanegra/Trazado.svg');
                background-size: 40%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

    }
    .ContentProjectsViewImgageRight{
        width: 60%;
        min-height:45vh;
        max-height:45vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-size: 120%;
        background-position: center;
        background-repeat: no-repeat;
    }

}

.ContentProjectsViewImgageOne:hover{
    background-color:#000000;
    .ContentProjectsViewImgageLeft{
        background: rgba(0,0,0, .3);
        background-blend-mode: darken;
        background-size: 100%;
    }
    .ContentProjectsViewImgageRight{
        background-color:#000000;
        .textOne{
            color: #FFF;
        }
        .textTwo{
            font-size: 0.9rem;
        }
        .textThree{
            min-width: 1.5vw;
            min-height: 1.5vw;
            max-height: 1.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 5%;
            background-color: #FFF;
            border-radius: 1.5vw;
            .Flecha{
                min-width: 1.5vw;
                background-image: url('../../img/flecha/Trazado 239.svg');
                background-size: 40%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
.ContentProjectsViewImgageTwo:hover{
    .ContentProjectsViewImgageLeft{
        background-color:#000000;
        .textOne{
            color: #FFF;
        }
        .textTwo{
            font-size: 0.9rem;
        }
        .textThree{
            min-width: 1.5vw;
            min-height: 1.5vw;
            max-height: 1.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 5%;
            background-color: #FFF;
            border-radius: 1.5vw;
            .Flecha{
                min-width: 1.5vw;
                background-image: url('../../img/flecha/Trazado 239.svg');
                background-size: 40%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .ContentProjectsViewImgageRight{
        background: rgba(0,0,0, .3);
        background-blend-mode: darken;
        background-size: 100%;
    }
}
