@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%);
}








$animationSpeed: 50s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background-color: none;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	min-width: 100vw;
	min-height: 60vh;
	max-height: 60vh;
	margin: 0;
	overflow:hidden;
	width: 120vw;
	display: flex;
	justify-content: center;
	align-items: center;
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100%;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		min-height: 60vh;
		min-width: 30vw;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin-right: 5vw;
		
		div{
			min-width: 100%;
			min-height: 100%;
			background-size: 100%;
			background-repeat: no-repeat;
		}

		.Foto1{
			background-image: url('../../img/pagefive/Ari/Ari_001.jpg');
			width: 80%;
			transition: all .2s ease-in-out;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			.textNameTeam{	
				margin-right: -20%;
				margin-top: 20%;			
				min-width: 50%;
				display: flex;
				flex-direction: column;
				font-family: Montserrat;
			
				.Name{
					color: #FF4700;;
					text{
						color: white;
					}
					margin-bottom: 15px;
				}
				.position{
					padding-top: 15px;
					border-top: 1px solid rgba(255,255,255, .3);
					color: #939393;
				}
			}
		
		}
		.Foto1:hover{
			background-image: url('../../img/pagefive/Ari/Ari_002.jpg');
			transform: scale(1);		
		}
		.Foto2{
			background-image: url('../../img/pagefive/Bianca/Bianca_001.jpg');
			width: 80%;
			transition: all .2s ease-in-out;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			
			.textNameTeam{
				margin-right: -20%;
				margin-top: 20%;				
				min-width: 50%;
				display: flex;
				flex-direction: column;
				font-family: Montserrat;
			
				.Name{
					color: #FF4700;;
					text{
						color: white;
					}
					margin-bottom: 15px;
				}
				.position{
					padding-top: 15px;
					border-top: 1px solid rgba(255,255,255, .3);
					color: #939393;
				}
			}
		}
		.Foto2:hover{
			background-image: url('../../img/pagefive/Bianca/Bianca_002.jpg');
		}
		.Foto3{
			background-image: url('../../img/pagefive/Carlos/Carlos_001.jpg');
			width: 70%;
			transition: all .2s ease-in-out;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			.textNameTeam{	
				margin-right: -20%;
				margin-top: 20%;			
				min-width: 50%;
				display: flex;
				flex-direction: column;
				font-family: Montserrat;
			
				.Name{
					color: #FF4700;;
					text{
						color: white;
					}
					margin-bottom: 15px;
				}
				.position{
					padding-top: 15px;
					border-top: 1px solid rgba(255,255,255, .3);
					color: #939393;
				}
			}
		}
		.Foto3:hover{
			background-image: url('../../img/pagefive/Carlos/Carlos_002.jpg');
			transform: scale(1);			
		}
		.Foto4{
			background-image: url('../../img/pagefive/Jaime/Jaime_001.jpg');
			width: 70%;
			transition: all .2s ease-in-out;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			.textNameTeam{	
				margin-right: -20%;
				margin-top: 20%;			
				min-width: 50%;
				display: flex;
				flex-direction: column;
				font-family: Montserrat;
			
				.Name{
					color: #FF4700;;
					text{
						color: white;
					}
					margin-bottom: 15px;
				}
				.position{
					padding-top: 15px;
					border-top: 1px solid rgba(255,255,255, .3);
					color: #939393;
				}
			}
		}
		.Foto4:hover{
			background-image: url('../../img/pagefive/Jaime/Jaime_002.jpg');
			transform: scale(1);			
		}
		.Foto5{
			background-image: url('../../img/pagefive/Jorge/Jorge_001.jpg');
			width: 50%;
			transition: all .2s ease-in-out;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			.textNameTeam{	
				margin-right: -20%;
				margin-top: 20%;			
				min-width: 50%;
				display: flex;
				flex-direction: column;
				font-family: Montserrat;
			
				.Name{
					color: #FF4700;;
					text{
						color: white;
					}
					margin-bottom: 15px;
				}
				.position{
					padding-top: 15px;
					border-top: 1px solid rgba(255,255,255, .3);
					color: #939393;
				}
			}
		}
		.Foto5:hover{
			background-image: url('../../img/pagefive/Jorge/Jorge_002.jpg');
			transform: scale(1);			
		}
		.Foto6{
			background-image: url('../../img/pagefive/Rafa/Rafa_001.jpg');
			width: 70%;
			transition: all .2s ease-in-out;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			.textNameTeam{	
				margin-right: -20%;
				margin-top: 20%;			
				min-width: 50%;
				display: flex;
				flex-direction: column;
				font-family: Montserrat;
			
				.Name{
					color: #FF4700;;
					text{
						color: white;
					}
					margin-bottom: 15px;
				}
				.position{
					padding-top: 15px;
					border-top: 1px solid rgba(255,255,255, .3);
					color: #939393;
				}
			}
		}
		.Foto6:hover{
			background-image: url('../../img/pagefive/Rafa/Rafa_002.jpg');
			transform: scale(1);			
		}
	}
	.slide:hover{
	//	transform: scale(1.2);
	//	margin-right: 10vw;
	}
}