/*     HEADER CLOSE     */
.HeaderNavContainer{
    position: absolute;
    z-index: 20;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 8vh;
    .navigationMenu{
        min-width: 99.8vw;
        max-width: 100vw;
        .MenuBottoms{
            display: flex;
            flex-direction: row;
            .containerTBE{
                cursor: pointer;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background-color: #FF4700;
                min-height: 8vh;
                min-width: 5vw;
            }
            .containerLinks{
                flex-grow: 3;
                display: flex;
                justify-content: flex-end;
                
                align-items: center;
                background-color: #FF4700;
                padding-right: 5vw;
                img{
                    margin-left: 2vw;
                }
            }
            .containerBotton{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                min-width: 4.5vw;
                color: #FFF;
                background-color: #FF4700;
            }
        }
    }

}



/*      HEADER CLOSED       */

.HeaderNavContainerOpen{
    position: absolute;
    z-index: 50;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    background-color: rgba( 0,0,0,  0.8);

    .navigationMenu{
        min-width: 99.8vw;
        max-width: 100vw;
        
        .MenuBottoms{
            display: flex;
            flex-direction: row;
              min-height: 8vh;             
            .containerTBE{
                cursor: pointer;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 5vw;
            }
            .containerLinks{
                flex-grow: 3;
                display: flex;
                justify-content: flex-end;
                
                align-items: center;
                padding-right: 5vw;
                img{
                    margin-left: 2vw;
                }
            }
            .containerBotton{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 4.5vw;
                color: #FFF;
            }
        }
    }
    .MenuTitleHeaders{
        min-height: 40vh;
        display: flex;
        flex-direction: row;
        div{
            width: 30vw;
        }
        .elementThree {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                min-height: 80%;
                li{
                    cursor: pointer;
                    width: 80%;
                    display: flex;
                    justify-content: flex-start;
                    border-bottom: 1px solid #FFF;
                    list-style: none;
                    color: #FFF;
                    font-size: 3rem;
                    font-family: Montserrat;
                    min-height: 25%;
                    font-weight: 600;
                }
                li:hover{
                    color: black;
                }
            }            
            div{
                display: flex;
                justify-content: flex-start;
                img{
                    color: #FF4700;
                    width: 6%;
                    margin-right: 10%;
                }
            }
        }
    }
}






/*     PAGES        */

.containerHomePage{
    min-width: 99.7vw;
    min-height: 100vh;
    $list3: #FF4700 0%, #FF4700 10%, #000000 25%, #000000 39%, #000000 90%, #FF4700 100%; 
    background: -webkit-linear-gradient($list3);
    position: absolute;
    
}

.containerProjects{
    min-width: 99vw;
    min-height: 200vh;
}



.Links{
    text-decoration: none;
    cursor: pointer;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: #FFF;
    font-size: 3rem;
    font-family: Montserrat;
    min-height: 25%;
    font-weight: 600;
}
.Links:hover{
    color: #FF4700;
}